FlipdishInterview/.vs/
FlipdishInterview/obj/
FlipdishInterview/bin/
FlipdishInterview/Flipdish.Recruiting.Core/obj/
FlipdishInterview/Flipdish.Recruiting.Core/bin/
FlipdishInterview/Flipdish.Recruiting.UnitTest/obj/
FlipdishInterview/Flipdish.Recruiting.UnitTest/bin/
.vs/
